babel==2.16.0
colorama==0.4.6
docxcompose==1.4.0
docxtpl==0.18.0
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==2.1.5
numpy==2.0.1
pandas==2.2.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
setuptools==72.1.0
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
wheel==0.44.0
